* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno {
    padding: 0 50px;
}

.header {
    background: url(images/bg-header_large.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.logo {
    flex: 1 1 auto;
}

.logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.logo a:hover {
    color: #1f6cb0;
    font-weight: 600;
}

.logo a img {
    width: 55px;
    margin-top: 10px;
}

.nav {
    flex: 5 1 auto;
}

.nav a {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
    animation: bounceIn 5s;
}

.nav a:hover {
    color: #ffd460;
    font-weight: 600;
}

.social {
    flex: 1 1 auto;
    display: flex;
}

.social a {
    font-size: 18px;
    color: #fff;
    padding: 0 5px;
}

.social a:hover {
    color: #1f6cb0;
}

.texto-principal {
    height: 580px;
    display: flex;
    align-items: center;
}

h1 {
    font-family: "Lora", serif;
    font-size: 21px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
}

.section {
    background: #f7f7f7;
    display: flex;
}

.articulos {
    background: #f7f7f7;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.article {
    flex: 1 1 40%;
    color: #444;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0px;
    flex: 1 1 45%;
    background: #ececec;
}

.article img {
    width: 100%;
}

.article a {
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    padding: 10px;
    background: #000;
    margin: 10px 0;
    display: inline-block;
}

.article a:hover {
    background: #546cc3;
}

h3 {
    color: #000;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 0;
}

h2 {
    color: #000;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px 0 10px 0;
}

h4 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px 0 10px 0;
    margin-top: 15px;
}

p {
    font-weight: 600;
    text-align: justify;
}

.navegacion {
    background: #000;
    flex: 1 1 100%;
    margin: 10px 10px 0 0px;
}

.navegacion a {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
    font-weight: 600;
}

.aside {
    flex: 1 1 auto;
    margin: 10px 5px 10px 0;
}

.aside img {
    width: 100%;
}

.aside h4 {
    background: #000;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

.publicidad {
    background: none;
}

.footer {
    background: #000;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 60px;
    align-items: center;
}

.pie {
    text-align: center;
}

.pie a {
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
    font-weight: 600;
    animation: bounceIn 2s;
}

.leer_mas {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.img_pie {
    text-align: left;
    width: 55px;
    clip-path: circle(50% at 50% 50%);
}

@media all and (max-width: 1120px) {
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }

    .aside {
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 15px;
    }

    .texto-principal {
        height: 450px;
    }
}

@media all and (max-width: 740px) {
    .articulos {
        flex-direction: column;
    }
}

@media all and (max-width: 665px) {
    .off {
        display: none;
    }

    .nav a {
        font-size: 25px;
    }
}

@media all and (max-width: 400px) {
    .aside {
        flex-direction: column;
    }
}
